.body {
  background-image: url(..//img/ffondo1.jpg);
  width: 100%;
  position: relative;

  .fotind {
    font-size: 2vh;
    width: 25%;
    box-shadow: 10px 10px 101px rgb(7, 155, 253);

    position: absolute;
    left: 70vh;
    top: 90vh;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 119, 255, 0.466);
    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      text-transform: capitalize;
    }
  }
  @media (max-width:1200px){
    .fotind{
      top: 150vh;
      left: 40vh;
    }
  }
  @media (max-width:768px){
    .fotind{
      font-size: 1.5vh;
      top: 260vh;
      left: 8vh;
      width: 30vh;
    }
  }
@media (max-width:500px){
  .fotind{
    top: 270vh;
  }
}
}