.body {
  background-image: url(..//img/fondo5.jpg);
  width: 100%;
}

.fotind {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);

  position: relative;
  left: 70vh;
  top: 20vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .fotind {
    position: relative;
    left: 15vh;
    width: 20vh;
  }
}


/*envios*/



  .mapa1 {
    border-radius: 20;
    border-radius: 20px;
    position: relative;
    right: 12vh;
    left: 3vh;
    top: 20vh;
    border: 2px white solid;
    box-shadow: 5px 5px 50px rgb(6, 95, 197);
  }




@media (max-width:1390px) {
  .mapa1{
  left: 10vh;
  width: 70%;
  height: 30vh;
  transition: 1s;
  }
}

@media (max-width:500px){
  .mapa1{
    left: 7vh;
  }
}



.fotenv {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);

  position: relative;
  left: 70vh;
  top: 18vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }
}
@media (max-width:1390px){
  .fotenv{
    left: 40vh;
    top: 75vh;
    transition: 1s;
  }
}

@media (max-width:768px){
  .fotenv{
    left: 20vh;
    top: 95vh;
    transition: 1s;
  }
}

@media (max-width:450px){
  .fotenv{
    left: 12vh;
    top: 85vh;
    transition: 1s;
  }
}
