.registrate {
  width: 90%;
  display: inline-block;
  position: absolute;
  top: 20vh;
  left: 2%;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 5px 3px black;
  letter-spacing: 5px;
  font-size: 3vh;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.form1 {
  display: inline-block;
  position: absolute;
  top: 25vh;
  left: 20vh;
  width: 50vh;

  .mb-3 {
    width: 50vh;
    font-size: 3vh;
    color: white;
    text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
  }
  .btn-primary {
    text-transform: capitalize;
    background-color: rgba(27, 84, 190, 0.438);
    box-shadow: 5px 5px 8px rgba(98, 171, 255, 0.774);
  }
}

.titcontacto {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  width: 60vh;
  position: absolute;
  top: 65vh;
  left: 20vh;
  height: 40vh;
  font-weight: 400;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.fotcont {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);

  position: absolute;
  left: 70vh;
  top: 95vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }
}

.img-fluid {
  position: absolute;
  left: 95vh;
  top: 35vh;
  width: 65vh;
  height: 50vh;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
}

@media (max-width: 1390px) {
  .registrate {
    font-size: 2vh;
    z-index: -1;
  }
  .form1 {
    left: 8vh;
    top: 25vh;
    z-index: -1;
    .mb-3 {
      font-size: 2vh;
    }
  }
  .titcontacto {
    left: 8vh;
    top: 65vh;
  }
  .img-fluid {
    left: 80vh;
    width: 65vh;
    height: 50vh;
    z-index: -1;
  }
}

@media (max-width: 1240px) {
  .img-fluid {
    width: 50vh;
    height: 40vh;
    left: 70vh;
  }
  .titcontacto {
    font-size: 2vh;
    width: 45vh;
  }
  .form1 {
    width: 40vh;
    .mb-3 {
      width: 40vh;
    }
  }
  .fotcont {
    left: 50vh;
    top: 90vh;
    font-size: 1.7vh;
  }
}
@media (max-width: 1020px) {
  .img-fluid {
    left: 55vh;
    width: 40vh;
    height: 30vh;
    top: 30vh;
  }
  .titcontacto {
    width: 90vh;
    height: 10vh;
  }
}
@media (max-width: 830px) {
  .form1 {
    left: 25vh;
    top: 30vh;
    .mb-3 {
      width: 50vh;
    }
  }

  .img-fluid {
    left: 25vh;
    width: 50vh;
    top: 87vh;
  }
  .titcontacto {
    width: 50vh;
    top: 70vh;
    left: 25vh;
  }
  .fotcont {
    left: 40vh;
    top: 120vh;
  }
}

@media (max-width: 650px) {
  .form1 {
    left: 5vh;
    .mb-3 {
      width: 35vh;
    }
  }
  .titcontacto {
    left: 5vh;
  }
  .img-fluid {
    left: 5vh;
  }
  .fotcont {
    left: 20vh;
  }
  .registrate {
    font-size: 1.8vh;
  }
}
@media (max-width: 501px) {
  .registrate {
    top: 25vh;
  }
  .form1 {
    width: 30vh;
    top: 35vh;
    left: 2vh;
  }
  .titcontacto {
    width: 36vh;
    left: 2vh;
  }

  .img-fluid {
    top: 90vh;
    width: 37vh;
    left: 2vh;
    height: 25vh;
  }
  .fotcont {
    left: 5vh;
    width: 30vh;
  }
}
