


.registrate{ 
	height: 10%;
	width: 90%;
	display: inline-block;
	position: absolute;
	top:20vh;
	left:2%;
	bottom: 2%;
	text-transform: uppercase;
	color: white;
	text-shadow: 5px 5px 3px black;
	letter-spacing: 5px;
	font-size: 170%;
	text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);

}	

.form{
	display: flex;
	position: absolute;
	top: 27vh;
	left: 20vh;
	width: 50vh;

	.mb-3{
		width: 50vh;
		font-size: 3vh;
		color: white;
		text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
	}
	.btn-primary{
		text-transform: capitalize;
		background-color: rgba(27, 84, 190, 0.438);
		box-shadow: 5px 5px 8px rgba(98, 171, 255, 0.774);

	}

}

.titcontacto{
	color: white;
	font-size: 3vh;
	width: 60vh;
	position: absolute;
	top: 65vh;
	left: 20vh;
	height: 40vh;
	font-weight:400;
	text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);

}
@media (max-width:1390px){
	.titcontacto{
		top: 73vh;
		left: 10vh;
		transition: 1s;
	}
}

/*social*/

.social{
	color: white;
	position: absolute;
	top: 30vh;
	left: 90vh;


	.face{
		color: white;
		font-size: 4vh;
		padding: 3vh;
		width: 70vh;
		text-transform: capitalize;

	}
	.facelef{
		color: rgb(255, 255, 255);
		text-shadow: 5px 5px 4px rgba(111, 161, 253, 0.89);
		font-weight: 400;
		font-size: 6vh;
		text-decoration: none;
		left: 50vh;
	}
	.inslef{
		text-decoration: none;
		color: white;
		text-shadow: 5px 5px 4px rgba(160, 77, 255, 0.89);
		font-size: 6vh;
		font-weight: 400;
	}
	.wslef{
		text-decoration: none;
		font-size: 6vh;
		font-weight: 400;
		color: white;
		text-shadow: 5px 5px 4px rgba(39, 252, 128, 0.89);


	}
}
@media (max-width:1390px){
	.form{
		left:10vh;
		transition: 1s;
		top: 30vh;
	}
	.social{
		left: 75vh;
		transition: 1s;
	}
}

@media (max-width:1230px){
	.social{
		top: 30vh;
		left: 65vh;
		transition: 1s;
	}
	
}

@media (max-width:1130px){
	.social{
  		top: 100vh;
		left: 8vh;

	}
	.fotcont{
		left: 20vh;
		top: 140vh;
	}

}

@media (max-width:768px){

	.form{
		top: 40vh;
		left: 3vh;
		width: 20vh;
	
	.mb-3{
		font-size: 2vh;
		width: 30vh;
	}
}
	.registrate{
		font-size: 2.5vh;
		top: 25vh;
	}
	
	.titcontacto{
		font-size: 2.5vh;
		left: 3vh;
		top: 77vh;
		width: 35vh;
	}
	
		.social{
		width: 30vh;
		top: 110vh;
		left: 2vh;
		.face{
			font-size: 2vh;
			width: 40vh;
			left: 1vh;
		}
		.facelef{
			font-size: 4vh;
		}

		.inslef{
			font-size: 4vh;
		}
		.wslef{
			font-size: 4vh;
		}
	}
	.fotcont{
		left: 5vh;
	}

}


