.mapa1 {
  position: absolute;
  left: 10vh;
  height: 60vh;
  top: 30vh;
  border-radius: 20px;
}


.inf {
  display: inline-block;
  font-size: 2.5vh;
  position: absolute;
  top: 30vh;
  left: 115vh;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(82, 142, 255);
  padding: 1.5vh;
  background-color: rgba(0, 0, 0, 0.685);
  box-shadow: 5px 5px 50px rgb(6, 95, 197);
  text-transform: capitalize;
}

.text {
  display: inline-block;
  text-shadow: 5px 5px 5px rgba(23, 130, 252, 0.925);
  font-size: 3vh;
  position: absolute;
  left: 115vh;
  color: white;
  top: 68vh;
  text-transform: uppercase;
  font-family: serif;
  width: 70vh;
}

.fotenv {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  position:absolute;
  left: 90vh;
  top: 92vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }
}
/*aca me di cuenta que al cambiar el monitor puede cambiar la resolucion y lo que en mi anterior monitor se veia perfecto aca se rompe*/
/*@media (max-width:1200px){
  .mapa1{
    width: 70vh;
    height: 70vh;
  }
  .inf{
    left: 95vh;
    font-size: 2.5vh;
  }
  .text{
    font-size: 2.5vh;
    left: 65vh;
  }
  .fotenv{
    font-size: 1.5vh;
  }
}*/

@media (max-width:1090px){
  .mapa1{
    width: 70vh;
    height: 50vh;
  }
  .inf{
    left: 95vh;
    top: 30vh;
    font-size: 2vh;
  }
  .text{
    font-size: 2vh;
    top: 70vh;
    left: 95vh;
  }
  .fotenv{
    font-size: 1.5vh;
    left: 70vh;
    top: 90vh;
  }
}

@media (min-width:684px) and (max-width:925px){
    .mapa1{
      width: 90vh;
      left: 40vh;
    }
    .inf{
      top: 85vh;
      left: 40vh;
    }
    .text{
      top: 85vh;
      width: 30vh;
      font-size: 2.5vh;
      left: 100vh;
    }
    .fotenv{
      top: 125vh;
      left: 70vh;
    }
}
@media (max-width:683px){
  .inf{
    top: 85vh;
    left: 10vh;
    width: 40vh;
    font-size: 2.5vh;
  }
  .text{
    top: 120vh;
    width: 50vh;
    left: 10vh;
  }
  .fotenv{
    top: 123vh;
    left: 60vh;
  }
  .fotenv{
    top: 130vh;
    left: 30vh;
  }
}

@media (max-width:500px){
  .ht2{
    font-size: 4vh;
    top: 28vh;
  }

  .mapa1{
    left: 10vh;
    width: 30vh;
  }

  .inf{
    width: 35vh;
    top: 75vh;
    left: 20vh;
  }

  .text{
    top: 135vh;
    left: 8vh;
    width: 30vh;
  }
  .fotenv{
    width: 20vh;
    top: 158vh;
    left: 10vh;
  }

  .mapa1{
    width: 30vh;
    height: 30vh;
    left: 7vh;
  }
  #navbarNavDropdown{
    z-index: 1;
    padding: 1vh;
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  );  }

}
