.row {
  position: relative;
  top: 13vh;
  width:100%;

  

  .card {
    margin: 2vh;
    margin-top: 5vh;
    left: 7vh;
    border-radius: 15px;
    color: white;
    border: 2px solid rgb(45, 143, 255);
    background-color: rgba(0, 0, 0, 0.815);
    text-transform: capitalize;
    &:hover {
      position: relative;
      bottom: 2vh;
      box-shadow: 10px 10px 101px rgb(7, 155, 253);
      border: 2px solid white;
      transition: 0.2s;
    }
  }

  .card-img-top {
    border-radius: 15px;
  }
}

@media (max-width: 1500px) {
  .card-text {
    font-size: 1.5vh;
  }
  .row{
    position: absolute;
    top: 35vh;
    z-index: -1;
  }
}




