.laca {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20vh;

  .img-fluid {
    border: 2px solid rgb(45, 143, 255);
    display: inline-block;
    width: 30vh;
    height: 30vh;
    top: 25vh;
    object-fit: cover;
    align-items: center;
    margin: 5vh;
    border-radius: 3vh;

    &:hover {
      bottom: 2vh;
      box-shadow: 10px 10px 101px rgb(48, 165, 255);
      border: 4px solid rgb(255, 255, 255);
      transition: 0.2s;
      width: 32vh;
      height: 32vh;
    }
  }
}

/*laqueado*/
.linkpint{
    text-decoration: none;
    color: white;
}

.volver{
  display: inline-block;
  position: absolute;
  top: 90vh;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1vh;
  left: 10vh;
  font-size: 3vh;
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
  box-shadow: 5px 5px 50px rgba(98, 171, 255, 0.774);

}

@media (max-width:1390px){
  .laca{
    flex-direction: column;
    left: 20vh;
    width: 50vh;
    .img-fluid{
      width: 25vh;
      height: 25vh;
      transition: 1s;
    }
  }


  .infolaq{
    width: 50%;
    font-size: 5vh;
    left: 60vh;
    top: 40vh;
    transition: 1s;
  }




  .volver{
    top: 130vh;
    left: 90vh;
    color: white;
  }
}





  .titlaq{
    left: 52vh;

  }
  @media (max-width:1190px){
    
    .laca{
      left:8vh;
    }

    .titlaq{
      font-size: 4vh;
      left: 10vh;
    }

    .volver{
      top: 145vh;
      left: 10vh;
    }
    .infolaq{
      font-size: 4.5vh;
      left: 45vh;
    }
  }


  @media (max-width:740px){
    .volver{
      top: 130vh;
      left: 60vh;
    }

    .laca{
      left: 2vh;

    }
    .infolaq{
      left: 35vh;
      font-size: 3.5vh;
      top: 45vh;
    }
  }
  @media (max-width:680px){
    .volver{
      top: 140vh;
      left: 5vh;
    }
  }
  @media (max-width:600px){
    .laca{
      left: 20vh;
      width: 35vh;

    }


    .infolaq{
      top: 145vh;
      left: 10vh;
      width: 50vh;
    }

    .volver{
      top: 218vh;
    }
    }
    @media (max-width:500px){
      .infolaq{
        font-size: 2.5vh;
        width: 30vh;
        left: 10vh;
        top: 145vh;
      }

      .laca{
        width: 30vh;
        left: 7vh;
      }

      .titlaq{
        font-size: 3vh;
        top: 25vh;
        left: 7vh;
      }
    }
  