.linkpint{
  text-decoration: none;
  color: white;
}

/*laqueado*/

/*laqueado*/

.titlaq {
  z-index: -1;
  display: inline-block;
  color: white;
  position: absolute;
  top: 20vh;
  font-size: 5vh;
  left: 55vh;
  font-family: serif;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.infolaq {
  color: white;
  display: inline-block;
  position: absolute;
  top: 75vh;
  width: 80%;
  left: 30vh;
  font-size: 3vh;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}



.img-thumbnail{
  z-index: -1;
  width: 80vh;
  object-fit: cover;
  height: 45vh;
  top: 28vh;
  position: absolute;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  left: 50vh;
}

.volver{
  color: white;
  position: absolute;
  font-size: 3vh;
  text-decoration: none;
  top: 90vh;
  left: 10vh;
  border: 2px solid;
  padding: 1vh;
  border-radius: 20px;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);

  background-color: rgba(0, 0, 0, 0.623);
}
@media (max-width:1390px){
  .infolaq{
    width: 100vh;
    left: 40vh;
  }
}

@media (max-width:1180px){
  .titlaq{
    left: 30vh;
  }
  .img-thumbnail{
    left: 30vh;
  }
  .infolaq{
    left:25vh;
  }
}
@media (max-width:1066px){
    .titlaq{
      left: 20vh;
      font-size: 4vh;
    }
    .img-thumbnail{
      width: 60vh;
      height: 35vh;
    }
    .infolaq{
      left: 20vh;
      top: 65vh;
      font-size: 2.5vh;
      width: 80vh;
    }

}
@media (max-width:850px){
  .titlaq{
    left: 5vh;
  }
  .img-thumbnail{
    left: 10vh;
  }
  .infolaq{
    left: 7vh;
    width: 70vh;
  }
}
@media (max-width:665px){
  .titlaq{
    font-size: 3vh;
    width: 30vh;
  }
  .img-thumbnail{
    width: 50vh;
    height: 30vh;
    left: 5vh;
    top: 30vh;
  }
  .infolaq{
    font-size: 2vh;
    width: 45vh;
  }
  .volver{
    top: 95vh;
  }
}

@media (max-width:500px){
  .titlaq{
    top: 25vh;
  }
  .img-thumbnail{
    top: 35vh;
    left:3vh;
    width: 35vh;
    height: 20vh;
  }
  .infolaq{
    top: 60vh;
    width: 37vh;
    left: 2vh;
  }
  .volver{
    top: 90vh;
  }
}



