.navbar {
  background-color: black;
  top: 6vh;
  background: #0575e6; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
}
.navbar .navbar-toggler {
  background-color: white;
  border-radius: 10px;
}
.navbar .container-fluid {
  background: #0575e6; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar .nav-link {
  text-transform: capitalize;
  color: white;
  font-size: 100%;
}
.navbar .nav-link:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  transition: 0.5s;
}
.navbar .navbar-brand {
  font-size: 5vh;
  color: white;
  font-family: serif;
}
.navbar .navbar-brand:hover {
  color: white;
  border-radius: 20px;
  text-shadow: 5px 5px 5px white;
  transition: 0.5s;
}
.navbar .nav-link.active {
  color: white;
}
.navbar .nav-link.active:hover {
  color: black;
}
@media (min-width: 768px) {
  .navbar .navbar {
    width: 120vh;
    display: flex;
    background-color: pink;
  }
  .navbar .container-fluid {
    color: red;
    display: flex;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar .bg-light {
    width: 100%;
  }
  .navbar .navbar-brand {
    width: 100%;
  }
}

.row {
  position: relative;
  top: 13vh;
  width: 100%;
}
.row .card {
  margin: 2vh;
  margin-top: 5vh;
  left: 7vh;
  height: 50vh;
  border-radius: 15px;
  color: white;
  border: 2px solid rgb(45, 143, 255);
  background-color: rgba(0, 0, 0, 0.815);
  text-transform: capitalize;
}
.row .card:hover {
  position: relative;
  bottom: 2vh;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  border: 2px solid white;
  transition: 0.2s;
}
.row .card-img-top {
  border-radius: 15px;
}

@media (max-width: 1500px) {
  .card-text {
    font-size: 1.5vh;
  }
  .row {
    position: absolute;
    top: 25vh;
    z-index: -1;
  }
}
@media (max-width: 500px) {
  .row {
    position: absolute;
    top: 30vh;
  }
}
.body {
  background-image: url(..//img/ffondo1.jpg);
  width: 100%;
  position: relative;
}
.body .fotind {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  position: absolute;
  left: 70vh;
  top: 90vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
}
.body .fotind a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .body .fotind {
    top: 150vh;
    left: 40vh;
  }
}
@media (max-width: 768px) {
  .body .fotind {
    font-size: 1.5vh;
    top: 260vh;
    left: 8vh;
    width: 30vh;
  }
}
@media (max-width: 500px) {
  .body .fotind {
    top: 270vh;
  }
}

/*titulos*/
.h1t {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 50%;
  top: 20vh;
  z-index: -1;
  left: 8vh;
  font-family: serif;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.ofrecemos {
  color: white;
  font-size: 5vh;
  display: inline-block;
  position: absolute;
  top: 19vh;
  left: 75vh;
  width: 30%;
  text-transform: capitalize;
  font-family: serif;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.925);
  z-index: 1;
}

@media (max-width: 900px) {
  .ofrecemos {
    position: absolute;
    left: 5vh;
    top: 20vh;
    z-index: -1;
  }
}
@media (max-width: 500px) {
  .ofrecemos {
    position: absolute;
    top: 25vh;
    z-index: -1;
  }
  .h1t {
    top: 25vh;
  }
}
/*pintura*/
.parrafo1 {
  color: white;
  display: inline-block;
  position: relative;
  top: 20vh;
  right: 25vh;
  font-size: 2vh;
}

@media (max-width: 930px) {
  .text {
    left: 10vh;
    width: 70%;
  }
}
/*envios*/
.ht2 {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 5vh;
  font-family: serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: 10%;
  position: absolute;
  left: 6vh;
  top: 20vh;
  text-shadow: 5px 5px 5px rgba(0, 119, 255, 0.925);
}

.comienzo {
  z-index: -1;
  position: absolute;
  color: white;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px rgb(7, 155, 253);
  top: 18vh;
  left: 20vh;
}

.hoy {
  z-index: -1;
  position: absolute;
  color: white;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px rgb(7, 155, 253);
  top: 18vh;
  left: 110vh;
  font-size: 4vh;
}

.img-fluid3 {
  z-index: -1;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 25vh;
  left: 10vh;
  border: 2px solid white;
  border-radius: 20px;
  width: 70vh;
  height: 40vh;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
}

.img-fluid4 {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  border-radius: 20px;
  top: 25vh;
  left: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 70vh;
  height: 40vh;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
}

.pcomienzo {
  color: white;
  position: absolute;
  width: 60vh;
  left: 15vh;
  top: 70vh;
  font-size: 2vh;
  text-shadow: 5px 5px 5px rgb(7, 155, 253);
}

.phoy {
  color: white;
  position: absolute;
  width: 60vh;
  left: 100vh;
  top: 70vh;
  font-size: 2vh;
  text-shadow: 5px 5px 5px rgb(7, 155, 253);
}

.fotnos {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  position: absolute;
  left: 65vh;
  top: 93vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
}
.fotnos a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

@media (max-width: 1390px) {
  .img-fluid3 {
    width: 60vh;
    height: 30vh;
  }
  .img-fluid4 {
    width: 60vh;
    height: 30vh;
  }
  .pcomienzo {
    top: 60vh;
    left: 10vh;
  }
  .phoy {
    top: 60vh;
    left: 95vh;
  }
  .fotnos {
    font-size: 1.8vh;
  }
}
@media (max-width: 1300px) {
  .img-fluid3 {
    width: 50vh;
    height: 20vh;
  }
  .img-fluid4 {
    left: 80vh;
    width: 50vh;
    height: 20vh;
  }
  .pcomienzo {
    top: 50vh;
    left: 10vh;
    width: 50vh;
  }
  .phoy {
    top: 50vh;
    left: 80vh;
    width: 50vh;
  }
  .comienzo {
    left: 10vh;
  }
  .hoy {
    left: 85vh;
  }
  .fotnos {
    left: 55vh;
    font-size: 1.5vh;
    top: 90vh;
  }
}
@media (max-width: 1100px) {
  .comienzo {
    left: 5vh;
  }
  .hoy {
    left: 65vh;
  }
  .img-fluid3 {
    left: 5vh;
    width: 40vh;
  }
  .img-fluid4 {
    left: 65vh;
    width: 40vh;
  }
  .pcomienzo {
    left: 5vh;
    width: 40vh;
  }
  .phoy {
    left: 65vh;
    width: 40vh;
  }
  .fotnos {
    left: 40vh;
  }
}
@media (max-width: 900px) {
  .hoy {
    left: 50vh;
  }
  .img-fluid4 {
    left: 50vh;
  }
  .phoy {
    left: 50vh;
  }
}
@media (max-width: 768px) {
  .comienzo {
    left: 30vh;
  }
  .img-fluid3 {
    left: 30vh;
  }
  .pcomienzo {
    left: 30vh;
  }
  .hoy {
    top: 80vh;
    left: 30vh;
  }
  .img-fluid4 {
    top: 90vh;
    left: 30vh;
  }
  .phoy {
    top: 115vh;
    left: 30vh;
  }
  .fotnos {
    top: 140vh;
    left: 35vh;
  }
}
@media (max-width: 600px) {
  .comienzo {
    left: 2vh;
    top: 23vh;
  }
  .img-fluid3 {
    top: 30vh;
    left: 3vh;
  }
  .pcomienzo {
    left: 3vh;
    top: 52vh;
  }
  .hoy {
    left: 2vh;
    top: 78vh;
  }
  .img-fluid4 {
    left: 3vh;
    top: 85vh;
  }
  .phoy {
    left: 3vh;
    top: 108vh;
  }
  .fotnos {
    top: 135vh;
    left: 20vh;
  }
}
@media (max-width: 380px) {
  .img-fluid3 {
    width: 35vh;
  }
  .pcomienzo {
    width: 35vh;
    font-size: 1.8vh;
  }
  .img-fluid4 {
    width: 35vh;
  }
  .phoy {
    width: 35vh;
  }
  .fotnos {
    left: 10vh;
    width: 20vh;
  }
}
.linkpint {
  text-decoration: none;
  color: white;
}

/*laqueado*/
/*laqueado*/
.titlaq {
  z-index: -1;
  display: inline-block;
  color: white;
  position: absolute;
  top: 20vh;
  font-size: 5vh;
  left: 55vh;
  font-family: serif;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.infolaq {
  color: white;
  display: inline-block;
  position: absolute;
  top: 75vh;
  width: 80%;
  left: 30vh;
  font-size: 3vh;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.img-thumbnail {
  z-index: -1;
  width: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  height: 45vh;
  top: 28vh;
  position: absolute;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  left: 50vh;
}

.volver {
  color: white;
  position: absolute;
  font-size: 3vh;
  text-decoration: none;
  top: 90vh;
  left: 10vh;
  border: 2px solid;
  padding: 1vh;
  border-radius: 20px;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  background-color: rgba(0, 0, 0, 0.623);
}

@media (max-width: 1390px) {
  .infolaq {
    width: 100vh;
    left: 40vh;
  }
}
@media (max-width: 1180px) {
  .titlaq {
    left: 30vh;
  }
  .img-thumbnail {
    left: 30vh;
  }
  .infolaq {
    left: 25vh;
  }
}
@media (max-width: 1066px) {
  .titlaq {
    left: 20vh;
    font-size: 4vh;
  }
  .img-thumbnail {
    width: 60vh;
    height: 35vh;
  }
  .infolaq {
    left: 20vh;
    top: 65vh;
    font-size: 2.5vh;
    width: 80vh;
  }
}
@media (max-width: 850px) {
  .titlaq {
    left: 5vh;
  }
  .img-thumbnail {
    left: 10vh;
  }
  .infolaq {
    left: 7vh;
    width: 70vh;
  }
}
@media (max-width: 665px) {
  .titlaq {
    font-size: 3vh;
    width: 30vh;
  }
  .img-thumbnail {
    width: 50vh;
    height: 30vh;
    left: 5vh;
    top: 30vh;
  }
  .infolaq {
    font-size: 2vh;
    width: 45vh;
  }
  .volver {
    top: 95vh;
  }
}
@media (max-width: 500px) {
  .titlaq {
    top: 25vh;
  }
  .img-thumbnail {
    top: 35vh;
    left: 3vh;
    width: 35vh;
    height: 20vh;
  }
  .infolaq {
    top: 60vh;
    width: 37vh;
    left: 2vh;
  }
  .volver {
    top: 90vh;
  }
}
.registrate {
  width: 90%;
  display: inline-block;
  position: absolute;
  top: 20vh;
  left: 2%;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 5px 3px black;
  letter-spacing: 5px;
  font-size: 3vh;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.form1 {
  display: inline-block;
  position: absolute;
  top: 25vh;
  left: 20vh;
  width: 50vh;
}
.form1 .mb-3 {
  width: 50vh;
  font-size: 3vh;
  color: white;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}
.form1 .btn-primary {
  text-transform: capitalize;
  background-color: rgba(27, 84, 190, 0.438);
  box-shadow: 5px 5px 8px rgba(98, 171, 255, 0.774);
}

.titcontacto {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  width: 60vh;
  position: absolute;
  top: 65vh;
  left: 20vh;
  height: 40vh;
  font-weight: 400;
  text-shadow: 5px 5px 5px rgba(98, 171, 255, 0.774);
}

.fotcont {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  position: absolute;
  left: 70vh;
  top: 95vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
}
.fotcont a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.img-fluid {
  position: absolute;
  left: 95vh;
  top: 35vh;
  width: 65vh;
  height: 50vh;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
}

@media (max-width: 1390px) {
  .registrate {
    font-size: 2vh;
    z-index: -1;
  }
  .form1 {
    left: 8vh;
    top: 25vh;
    z-index: -1;
  }
  .form1 .mb-3 {
    font-size: 2vh;
  }
  .titcontacto {
    left: 8vh;
    top: 65vh;
  }
  .img-fluid {
    left: 80vh;
    width: 65vh;
    height: 50vh;
    z-index: -1;
  }
}
@media (max-width: 1240px) {
  .img-fluid {
    width: 50vh;
    height: 40vh;
    left: 70vh;
  }
  .titcontacto {
    font-size: 2vh;
    width: 45vh;
  }
  .form1 {
    width: 40vh;
  }
  .form1 .mb-3 {
    width: 40vh;
  }
  .fotcont {
    left: 50vh;
    top: 90vh;
    font-size: 1.7vh;
  }
}
@media (max-width: 1020px) {
  .img-fluid {
    left: 55vh;
    width: 40vh;
    height: 30vh;
    top: 30vh;
  }
  .titcontacto {
    width: 90vh;
    height: 10vh;
  }
}
@media (max-width: 830px) {
  .form1 {
    left: 25vh;
    top: 30vh;
  }
  .form1 .mb-3 {
    width: 50vh;
  }
  .img-fluid {
    left: 25vh;
    width: 50vh;
    top: 87vh;
  }
  .titcontacto {
    width: 50vh;
    top: 70vh;
    left: 25vh;
  }
  .fotcont {
    left: 40vh;
    top: 120vh;
  }
}
@media (max-width: 650px) {
  .form1 {
    left: 5vh;
  }
  .form1 .mb-3 {
    width: 35vh;
  }
  .titcontacto {
    left: 5vh;
  }
  .img-fluid {
    left: 5vh;
  }
  .fotcont {
    left: 20vh;
  }
  .registrate {
    font-size: 1.8vh;
  }
}
@media (max-width: 501px) {
  .registrate {
    top: 25vh;
  }
  .form1 {
    width: 30vh;
    top: 35vh;
    left: 2vh;
  }
  .titcontacto {
    width: 36vh;
    left: 2vh;
  }
  .img-fluid {
    top: 90vh;
    width: 37vh;
    left: 2vh;
    height: 25vh;
  }
  .fotcont {
    left: 5vh;
    width: 30vh;
  }
}
.mapa1 {
  position: absolute;
  left: 8vh;
  top: 30vh;
  border-radius: 20px;
}

.inf {
  display: inline-block;
  font-size: 2.5vh;
  position: absolute;
  top: 32vh;
  left: 90vh;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(82, 142, 255);
  padding: 1.5vh;
  background-color: rgba(0, 0, 0, 0.685);
  box-shadow: 5px 5px 50px rgb(6, 95, 197);
  text-transform: capitalize;
}

.text {
  display: inline-block;
  text-shadow: 5px 5px 5px rgba(23, 130, 252, 0.925);
  font-size: 3vh;
  position: absolute;
  left: 80vh;
  color: white;
  top: 68vh;
  text-transform: uppercase;
  font-family: serif;
  width: 50%;
}

.fotenv {
  font-size: 2vh;
  width: 25%;
  box-shadow: 10px 10px 101px rgb(7, 155, 253);
  position: absolute;
  left: 70vh;
  top: 90vh;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 119, 255, 0.466);
}
.fotenv a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

@media (max-width: 1390px) {
  .mapa1 {
    width: 50vh;
    height: 50vh;
  }
  .inf {
    left: 65vh;
    font-size: 2.5vh;
  }
  .text {
    font-size: 2.5vh;
    left: 65vh;
  }
  .fotenv {
    font-size: 1.5vh;
  }
}
@media (max-width: 1090px) {
  .mapa1 {
    width: 40vh;
    height: 40vh;
  }
  .inf {
    left: 55vh;
    top: 30vh;
    font-size: 2vh;
  }
  .text {
    font-size: 2vh;
    top: 60vh;
    left: 55vh;
  }
  .fotenv {
    font-size: 1.5vh;
    left: 50vh;
    top: 80vh;
  }
}
@media (min-width: 684px) and (max-width: 925px) {
  .mapa1 {
    width: 70vh;
    left: 10vh;
  }
  .inf {
    top: 75vh;
    left: 25vh;
  }
  .text {
    top: 105vh;
    left: 28vh;
  }
  .fotenv {
    top: 120vh;
    left: 40vh;
  }
}
@media (max-width: 683px) {
  .inf {
    top: 75vh;
    left: 5vh;
    font-size: 1.8vh;
  }
  .text {
    top: 105vh;
    left: 8vh;
  }
  .fotenv {
    top: 123vh;
    left: 16vh;
  }
}
@media (max-width: 572px) {
  .text {
    font-size: 1.5vh;
  }
  .inf {
    font-size: 1.5vh;
  }
  .mapa1 {
    left: 3vh;
  }
}
@media (max-width: 500px) {
  .ht2 {
    font-size: 4vh;
    top: 23vh;
  }
  .inf {
    width: 35vh;
    top: 65vh;
  }
  .text {
    top: 102vh;
    left: 8vh;
    width: 30vh;
  }
  .fotenv {
    top: 118vh;
  }
  .mapa1 {
    width: 30vh;
    height: 30vh;
    left: 7vh;
  }
  #navbarNavDropdown {
    z-index: 1;
    padding: 1vh;
    background: linear-gradient(to right, #021b79, #0575e6);
  }
}/*# sourceMappingURL=estilo.css.map */